@import 'tailwindcss';

:root {
  --background: #212121;
  --foreground: #9a9a9a;
  --button-background: #1b1b1b;
  --button-background-hover: #454545;
  --lighter: #e6e6e6;
  --border: #373737;
}

@theme inline {
  --color-lighter: var(--lighter);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-button-background: var(--button-background);
  --color-button-background-hover: var(--button-background-hover);
  --color-border: var(--border);
  --font-sans: var(--font-inter);
  --font-pt-root: var(--font-pt-root);
  --breakpoint-xs: 500px;
}

body {
  background: var(--background);
  color: var(--foreground);
}

.container {
  @apply mx-auto max-w-480 px-5 lg:px-6;
}
