@import 'tailwindcss';

:root {
  --background: #212121;
  --foreground: #9a9a9a;
  --button-background: #1b1b1b;
  --button-background-hover: #454545;
  --lighter: #e6e6e6;
  --border: #373737;
  --input-border: #cdcdcd;
  --card-hover-bg: #9c9c9c;
  --link: #c1c1c1;
  --menu-text: #858585;
  --error: #fe2b25;
}

@theme inline {
  --color-lighter: var(--lighter);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-button-background: var(--button-background);
  --color-button-background-hover: var(--button-background-hover);
  --color-border: var(--border);
  --color-input-border: var(--input-border);
  --color-card-hover-bg: var(--card-hover-bg);
  --color-link: var(--link);
  --color-menu-text: var(--menu-text);
  --color-error: var(--error);
  --font-sans: var(--font-inter);
  --font-pt-root: var(--pt-root);
  --breakpoint-xs: 500px;
}

body {
  background: var(--background);
  color: var(--foreground);
}

.container {
  @apply mx-auto max-w-480 px-5 lg:px-6;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px var(--background) inset;
  box-shadow: 0 0 0px 1000px var(--background) inset;
  transition: background-color 5000s ease-in-out 0s;
  color: white;
}
